

    <section class="panel panel-transparent">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Welcome to the Financial Portal!</h2>
        </header>
        <div class="panel-body">
            <section class="panel">
                <div class="panel-body">
                  
                    <p class="text-xs text-muted mb-none"><h4><b>Within this portal you can create a household budget to keep track of your spending habits.</b></h4></p>
                    <a href="@Url.Action("Register","Account")" class="btn btn-warning btn-lg">Click here to Register</a>
                    <a href=" @Url.Action("Login","Account")" class="btn btn btn-warning btn-lg">Returning User? Click here!</a>
                </div>
            </section>
            
        </div>
    </section>
