@model FinancialPortal.Models.ForgotPasswordViewModel
@{
                /**/

                ViewBag.Title = "Forgot your password?";
}

<section class="body-sign">
    <div class="center-sign">

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group mb-lg">
                        <label>Email Address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })

                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary hidden-xs">Email Link</button>
                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Email Link</button>
                        </div>
                    </div>

                    <p class="text-center">
                        Already have an account? <a href="@Url.Action("Login","Account")">Back to Login!</a>
                    </p>

                }
            </div>

        </div>
    </div>
</section>